<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>servlets.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>servlets.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>servlets.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>servlets.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>servlets.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borro</servlet-name>
        <servlet-class>servlets.borro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>servlets.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>servlets.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>servlets.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuario</servlet-name>
        <servlet-class>servlets.BorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresarUsu</servlet-name>
        <servlet-class>servlets.ingresarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarProveedor</servlet-name>
        <servlet-class>servlets.registrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProveedor</servlet-name>
        <servlet-class>servlets.updateProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarProveedor</servlet-name>
        <servlet-class>servlets.BorrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarIngrediente</servlet-name>
        <servlet-class>servlets.RegistrarIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIngrediente</servlet-name>
        <servlet-class>servlets.UpdateIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarIngrediente</servlet-name>
        <servlet-class>servlets.BorrarIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletsolicita</servlet-name>
        <servlet-class>servlets.servletsolicita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarChofer</servlet-name>
        <servlet-class>servlets.RegistrarChofer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChofer</servlet-name>
        <servlet-class>servlets.UpdateChofer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarChofer</servlet-name>
        <servlet-class>servlets.BorrarChofer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/agregarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/borraritem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/validarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/insertarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/updateProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borro</servlet-name>
        <url-pattern>/borro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/registrarprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuario</servlet-name>
        <url-pattern>/BorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresarUsu</servlet-name>
        <url-pattern>/ingresarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarProveedor</servlet-name>
        <url-pattern>/registrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProveedor</servlet-name>
        <url-pattern>/updateProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarProveedor</servlet-name>
        <url-pattern>/BorrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarIngrediente</servlet-name>
        <url-pattern>/RegistrarIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIngrediente</servlet-name>
        <url-pattern>/UpdateIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarIngrediente</servlet-name>
        <url-pattern>/BorrarIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletsolicita</servlet-name>
        <url-pattern>/servletsolicita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarChofer</servlet-name>
        <url-pattern>/registrarchofer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChofer</servlet-name>
        <url-pattern>/UpdateChofer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarChofer</servlet-name>
        <url-pattern>/BorrarChofer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
